<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gjq.demo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activites.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.RecycleViewFullActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activites.WebSocketActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activites.CropVideoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activites.TestHomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activites.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activites.FaceActivity"
            android:label="@string/title_activity_face"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activites.WeChatPreviewActivity"
            android:label="@string/title_activity_we_chat_preview"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>